package assets

templ Layout() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>pictag</title>
			<script type="application/json" src="/assets/index.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
